.wrapper {
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1236px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;

    &--medium {
        max-width: 970px;
    }

    &--nerow {
        max-width: 470px;;
    }

    
    &--b-margin {
        margin-bottom: 1rem;

        @mixin atSmall {
            margin-bottom: 3.875rem;
        }
    }     

    &--no-padding-until-medium {
        padding-right: 0;
        padding-left: 0;

        @mixin atMedium {
            padding-left: 18px;
            padding-right: 18px;
        }
    } 

    &--no-padding-until-large {
        padding-right: 0;
        padding-left: 0;

        @mixin atLarge {
            padding-left: 18px;
            padding-right: 18px;
        }
    }

    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}