.wrapper {
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1236px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;

    &--medium {
        max-width: 970px;
    }

    
    &--b-margin {
        margin-bottom: 1rem;

        @mixin atSmall {
            margin-bottom: 3.875rem;
        }
    }     

    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}